MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config.rst
docs/gh-pages
notebook/i18n/*/LC_MESSAGES/*.mo
notebook/i18n/*/LC_MESSAGES/nbjs.json
notebook/static/components
notebook/static/style/*.min.css*
notebook/static/*/js/built/
notebook/static/*/built/
notebook/static/built/
notebook/static/*/js/main.min.js*
notebook/static/lab/*bundle.js
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.pytest_cache
src
*.swp
*.map
.idea/
Read the Docs
config.rst
*.iml
/.project
/.pydevproject
Download_Reproject.ipynb
package-lock.json
geckodriver.log
netcdf.py
/venv
SM2RAIN.ipynb
/Data/netcdf/*
/Notebook/*
.RData
.Rhistory
.vscode
/Download/Downloaded_data/*
/Download/Downloaded_data
.~lock.grid.csv#
*.yaml
/Download/server.yaml